<div class="loginwrapper">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        Sign Up
    </div>
    <form class="p-3 mt-3"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <span class="far fa-user"></span>
            <input type="text" class="form-control" name="firstname" formControlName="firstName" placeholder="First Name" [ngClass]="{'is-invalid':submitted  &&  f['firstName'].errors}">
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
            </div>
        </div>
        <div class="form-field">
            <span class="far fa-user"></span>
            <input type="text" class="form-control" name="lastname" placeholder="Last Name" formControlName="lastName" [ngClass]="{'is-invalid':submitted && f['lastName'].errors}">
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
            </div>
        </div>
        <div class="form-field">
            <span class="far fa-user"></span>
            <input type="text" class="form-control" name="email"  placeholder="Enter Email" formControlName="email" [ngClass]="{'is-invalid':submitted && f['email'].errors}">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-field">
            <span class="fas fa-key"></span>
            <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':submitted && f['password'].errors}">
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
              </div>
        </div>
        <div class="form-field">
            <span class="fas fa-key"></span>
            <input type="password" class="form-control" name="confirmpassword"  placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'is-invalid':submitted && f['confirmPassword'].errors}">
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors['mustMatch']">Password and confirm not match</div>
              </div>
        </div>
        <button class="btn mt-3" >Sign Up</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a routerLink="/login">Login</a>
    </div>
</div>